In [385]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [386]:
PATH='../src/data/survey_results_public.csv'
EXPORT_PATH = "../src/data/1_preprocessed_df.pkl"

data = pd.read_csv(PATH)

In [387]:
new_data=data.copy()


## Start Preprocess on cop of data

* 1 -Drop Not intersting columns :
  
  "UK_Country", "US_State"  columns have too much missing values! , hard to fill with data so i dropped them

In [388]:
new_data.drop(["UK_Country", "US_State"], axis=1, inplace=True)

In [389]:
# remove_columns = ['CompTotal','CompFreq', 'ConvertedCompYearly', 
#                      'NEWStuck', 'NEWSOSites', 'NEWOtherComms', 'SOVisitFreq',
#                      'SOAccount','SOPartFreq', 'SOComm']

In [390]:
new_data.drop(remove_columns , axis =1 , inplace =True)

In [391]:
# ResponseId column act as index of data so i remove it 
new_data.drop('ResponseId' , axis =1 , inplace =True)

In [392]:
new_data.shape

(83439, 35)

In [393]:
new_data["Age1stCode"].unique()

array(['18 - 24 years', '11 - 17 years', '5 - 10 years', '25 - 34 years',
       '35 - 44 years', 'Younger than 5 years', '45 - 54 years',
       '55 - 64 years', nan, 'Older than 64 years'], dtype=object)

### Dealing with object data at["Age1stCode" ,"YearsCode" ,  "YearsCodePro"]

In [394]:
new_data["YearsCodePro"]=new_data["YearsCodePro"].replace("Less than 1 year" , 0 )
new_data["YearsCodePro"]=new_data["YearsCodePro"].replace("More than 50 years" , 51 )
new_data["YearsCode"]=new_data["YearsCode"].replace("Less than 1 year" , 0)
new_data["YearsCode"]=new_data["YearsCode"].replace("More than 50 years" , 51)


new_data["Age1stCode"]=new_data["Age1stCode"].replace("Older than 64 years" , 86 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("Younger than 5 years" , 4 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("18 - 24 years" , 21 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("11 - 17 years" , 4 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("5 - 10 years" , 86 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("25 - 34 years" , 4 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("35 - 44 years" , 86 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("45 - 54 years" , 4 )
new_data["Age1stCode"]=new_data["Age1stCode"].replace("55 - 64 years" , 4 )

In [395]:
cols=["Age1stCode" ,"YearsCode" ,"YearsCodePro"]
# take overview about data columns 
for c in cols:
    print(c)
    print(new_data[c].unique())

Age1stCode
[21.  4. 86. nan]
YearsCode
[nan '7' '17' '3' '4' '6' '16' '12' '15' '10' '40' '9' '26' '14' '39' '20'
 '8' '19' '5' 0 '22' '2' '1' '34' '21' '13' '25' '24' '30' '31' '18' '38'
 51 '27' '41' '42' '35' '23' '28' '11' '37' '44' '43' '36' '33' '45' '29'
 '50' '46' '32' '47' '49' '48']
YearsCodePro
[nan '10' '4' '5' '6' '2' '30' '9' '18' '12' '21' '1' '16' 0 '15' '3' '35'
 '7' '8' '17' '14' '26' '25' '20' '50' '34' '11' '24' '22' '13' '31' '23'
 '39' '41' '27' '28' '19' '33' 51 '37' '29' '32' '43' '40' '38' '45' '42'
 '46' '36' '44' '47' '48' '49']

In [396]:
#conv to numeric valuse
new_data['YearsCodePro']= pd.to_numeric(new_data["YearsCodePro"], errors='coerce')
new_data['YearsCode']= pd.to_numeric(new_data["YearsCode"], errors='coerce')

### Replace NAs with empty lists

In [397]:
for col in new_data.columns :
    mask_null = new_data[col].isnull()
    if new_data[col].isnull().sum()>0:
# mask_null
        new_data[col].loc[mask_null] = new_data[col].loc[mask_null].apply(lambda x: [])
    else :
        new_data[i]=new_data[i]
#     new_data[col]=new_data[col].str.split(";")

C:\Users\USER\AppData\Roaming\Python\Python38\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
new_data.isnull().sum()
# # new_data.DevType

In [399]:
# new_data.LearnCode.str.contains(",").sum()

###  Spliting data

In [ ]:
# new_data["LearnCode"].str.contains(";").sum()
# new_data['SurveyEase'].isnull().sum()>0
for i in new_data.columns :
    if new_data[i].str.contains(";").sum()>0:
        new_data[i]=new_data[i].str.split(";")
    else :
        new_data[i] = new_data[i]

In [366]:
new_data.head(2)

,MainBranch,Employment,Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,...,OpSys,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase
0,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,"Secondary school (e.g. American high school, G...",21.0,"[Coding Bootcamp, Other online resources (ex: ...",[],[],"[Developer, mobile]",20 to 99 employees,...,MacOS,25-34 years old,[Man],No,[Straight / Heterosexual],[White or of European descent],[None of the above],[None of the above],Appropriate in length,Easy
1,I am a student who is learning to code,"Student, full-time",Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",4.0,"[Other online resources (ex: videos, blogs, et...",7.0,[],NaN,[],...,Windows,18-24 years old,[Man],No,[Straight / Heterosexual],[White or of European descent],[None of the above],[None of the above],Appropriate in length,Easy

In [367]:
new_data.sample(1).iloc[0]

MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                    Poland
EdLevel                              Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Age1stCode                                                                   21.0
LearnCode                       [Other online resources (ex: videos, blogs, et...
YearsCode                                                                     4.0
YearsCodePro                                                                  0.0
DevType                                                   [Developer, full-stack]
OrgSize                                                      100 to 499 employees
Currency                                                        PLN\tPolish zloty
LanguageHaveWorkedWith                                               [JavaScript]
LanguageWantToWorkWith                                               [JavaScript]
DatabaseHaveWorkedWith                                      [MongoDB, PostgreSQL]
DatabaseWantToWorkWith                                                        NaN
PlatformHaveWorkedWith                                                   [Heroku]
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                        [Angular, React.js]
WebframeWantToWorkWith                                                 [React.js]
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                     [Git]
ToolsTechWantToWorkWith                                                     [Git]
NEWCollabToolsHaveWorkedWith                                 [Visual Studio Code]
NEWCollabToolsWantToWorkWith                                 [Visual Studio Code]
OpSys                                                                     Windows
Age                                                               18-24 years old
Gender                                                                      [Man]
Trans                                                                          No
Sexuality                                               [Straight / Heterosexual]
Ethnicity                                          [White or of European descent]
Accessibility                                                 [None of the above]
MentalHealth                                                  [None of the above]
SurveyLength                                                             Too long
SurveyEase                                                                   Easy
Name: 25572, dtype: object

In [368]:
# new_data["YearsCode"]

from sklearn.manifold import TSNE
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn.cluster import AgglomerativeClustering

from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram

In [369]:
ROLE_COLS      = ['DevType']
TECH_COLS      = ['LanguageHaveWorkedWith',    'DatabaseHaveWorkedWith',    'WebframeHaveWorkedWith',    'MiscTechHaveWorkedWith',    ]
TECH_NEXT_COLS = ['LanguageWantToWorkWith','DatabaseWantToWorkWith','WebframeWantToWorkWith','MiscTechWantToWorkWith']
encodedcols=TECH_COLS+TECH_NEXT_COLS

In [370]:
# for i in encodedcols:
#     print(i in new_data.columns)

In [381]:
# one hot encoded
binarizer =MultiLabelBinarizer()
encodeddata=new_data[encodedcols]
encodeddata=binarizer.fit_transform(encodeddata)

In [383]:
encodeddata

array([[0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
        1, 1],
       [1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
        0, 1],
       [0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
        0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
        0, 1],
       [0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
        1, 0],
       [1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
        0, 0],
       [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 0],
       [0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
        0, 0]])

In [376]:
df.to_pickle(EXPORT_PATH)

NameError: name 'df' is not defined